/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');

/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
    margin: 10px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    background-color: #f2f2f2;
}

/* Form styles */
#vaccinForm {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

select, input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #000;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1d1c1c;
}

/* Sidebar styles */
.w3-sidebar {
    position: fixed;
    z-index: 100;
    background-color: #000;
    color: #fff;
    width: 250px;
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
}

.w3-button {
    color: #fff;
    padding: 10px;
    text-decoration: none;
    transition: 0.5s;
}

.w3-button:hover {
    background-color: #fff;
    color: #81774E;
    border-radius: 6px;
}

.logo-img {
    text-align: center;
    margin: 20px auto;
    width: 100px;
}

.side_bar_bar {
    background-color: #81774E;
    height: 1px;
    width: 100%;
    border-radius: 2px;
    margin: 10px 0;
}
