<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Adoption</title>
    <link rel="stylesheet" href="css/adoption_afficher_animal.css">
</head>
<body>
<div class = "wrapper">
    <div class = "container">
        <div class="menu">
            <form id="search-form" class="recherche">
                <input type="text" id="keyword" placeholder="Rechercher">
                <button type="submit">Rechercher</button>
            </form>
            <form id="filter-form" class="filtre">
                <div>
                    <input type="date" id="dateOfBirth" placeholder="Date de naissance">
                </div>
                <div>
                    <select id="gender">
                        <option value="">Sélectionnez un sexe</option>
                        <option value="1">Masculin</option>
                        <option value="2">Féminin</option>
                    </select>
                </div>
                <div>
                    <input type="text" id="race" placeholder="Race">
                </div>
                <div>
                    <select id="category">
                        <option value="">Sélectionnez une catégorie</option>
                        <option value="Dog">Chien</option>
                        <option value="Cat">Chat</option>
                    </select>
                </div>
                <button type="submit">Filtrer</button>
            </form>
            <button class="actualisation_btn">Actualisé</button>
        </div>
        <div class = "title">
            <h1>Liste des animaux</h1>
        </div>

        <div class = "animal">
            <div class="animal-container">
                <!-- Lis des animaux ici -->
            </div>
            <div id="error-message"></div>
        </div>

    </div>

</div>

<script>
    document.getElementById("search-form").addEventListener("submit", function (event) {
        event.preventDefault();
        fetchData();
    });

    document.getElementById("filter-form").addEventListener("submit", function (event) {
        event.preventDefault();
        fetchData();
    });

    function formatDateForAPI(inputDate) {
        const date = new Date(inputDate);
        const year = date.getFullYear();
        const month = (date.getMonth() + 1).toString().padStart(2, '0');
        const day = date.getDate().toString().padStart(2, '0');
        return `${year}-${month}-${day}`;
    }

    function fetchData() {
        const keyword = document.getElementById("keyword").value;
        const dateOfBirth = document.getElementById("dateOfBirth").value;
        const gender = document.getElementById("gender").value;
        const race = document.getElementById("race").value;
        const category = document.getElementById("category").value;

        let url = `/animal/adoption?`;
        let parameters = [];

        if (keyword) {
            parameters.push(`keyword=${keyword}`);
        }

        if (dateOfBirth) {
            const formattedDate = formatDateForAPI(dateOfBirth);
            parameters.push(`dateOfBirth=${formattedDate}`);
        }

        if (gender) {
            parameters.push(`gender=${gender}`);
        }

        if (race) {
            parameters.push(`race=${race}`);
        }

        if (category) {
            parameters.push(`category=${category}`);
        }

        if (parameters.length > 0) {
            url += parameters.join("&");
            console.log(url);
        }

        fetch(url)
            .then((response) => response.json())
            .then((data) => {
                if (data.length > 0) {
                    displayAnimals(data);
                    document.getElementById("error-message").textContent = "";
                } else {
                    document.getElementById("error-message").innerHTML = "<p class='message-error'>Aucun résultat ne correspond aux critères.</p>";
                    clearAnimalTable(); // Supprimer le contenu du tableau en cas d'erreur
                }
            })
            .catch((error) => {
                console.error("Error fetching data:", error);
            });
    }

function displayAnimals(animals) {
    clearAnimalTable();

    if (animals.length > 0) {
        let animalList = ``

        animals.forEach((animal) => {
            animalList += `
                <div class = "animal-item">
                    <div class = "animal-img">
                        <img src = "/images/animals/${animal.imageUrl}" alt = "animal image">
                        <div>
                            <button type = "button" class="add-btn">Adopter</button>
                        </div>
                    </div>
                    <div class = "animal-content">
                        <a href = "#" class = "animal-title">${animal.name} </a>
                        <p class = "race"><span>${animal.race}</span></p>
                        <div>
                            <span class = "gender">${animal.gender === 1 ? 'Masculin' : 'Féminin'}</span>
                        </div>
                    </div>
                </div>
            `;
        });

        const animalListDiv = document.querySelector(".animal-container");
        animalListDiv.innerHTML = animalList;
    }
}


 function clearAnimalTable() {
    const animalListDiv = document.querySelector(".animal-container");
    animalListDiv.innerHTML = ""; // Supprime le contenu du tableau
}

    function formatDateString(dateString) {
        const options = { year: 'numeric', month: '2-digit', day: '2-digit' };
        return new Date(dateString).toLocaleDateString(undefined, options);
    }

        // Ajoutez un gestionnaire de clic pour le bouton de rafraîchissement
      document.querySelector(".actualisation_btn").addEventListener("click", function () {
        location.reload();
    });


    // Cette fonction sera appelée lorsque la page se chargera
   window.onload = function () {
        fetchData();
    };


</script>
</body>
</html>
