<html>
    <head>
        <meta name="viewport" content="width=device-width, inicial-scale=1.0">

        <title>LoveMyPet</title>
        <link rel="stylesheet" href="/CSS/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <!--menu du haut et logo et description du site-->
        <div class="banner">

            <div class="navbar">
                 <img src = "/images/logo.png" class="logo">
                 <ul>
                    <li><a href="#">Se Connecter</a></li>
                 </ul>
            </div>

            <div class="content">
                <h1>Bienvenue sur LoveMyPet!</h1>
                <p>LoveMyPet, c'est votre passerelle vers l'amour inconditionnel. Nous simplifions l'adoption d'animaux<br>
                    de compagnie en connectant ceux qui cherchent à offrir un foyer aimant à des compagnons adorables.<br>
                    Notre engagement va au-delà de l'adoption :<br> nous formons une communauté dévouée à l'éducation 
                    des propriétaires, favorisant des vies animales épanouies.<br>
                    Rejoignez-nous dans cette aventure où chaque clic rapproche un animal d'un foyer aimant.
                </p>
            <div>
                <button type ="button"><span></span>ADOPTER</button>
                <button type ="button"><span></span>PRENDRE SOIN</button>
            </div>
            
            </div>
        </div>

        <!--services proposées-->

        <section class="services">
            <h1>Explorez les Services LoveMyPet</h1>
            <p>Découvrez une gamme de services dédiés à simplifier l'adoption d'animaux. LoveMyPet offre une expérience centrée sur le bien-être, l'éducation, et la connexion entre adoptants et compagnons fidèles.</p>
            <div class="row">
                <div class="service-col">
                    <h3>Adopter</h3>
                    <p>
                        Explorez l'adoption avec LoveMyPet, où chaque histoire d'amour commence. Notre plateforme propose des filtres personnalisés, vous permettant de trouver le compagnon idéal selon vos critères. Faites de chaque adoption une expérience unique et sur mesure.
                    </p>
                </div>
                <div class="service-col">
                    <h3>Prendre soin</h3>
                    <p>
                        Avec LoveMyPet, prenez soin de votre compagnon comme jamais auparavant. Recevez des notifications personnalisées qui vous rappellent de nourrir, laver, vacciner, et chérir votre animal de compagnie. Simplifiez la vie quotidienne de votre fidèle ami avec notre service de soins attentionnés.
                    </p>
                </div>
                <div class="service-col">
                    <h3>Suivi Complet de l'Animal</h3>
                    <p>
                        LoveMyPet va au-delà de l'adoption. Suivez de près la santé de votre compagnon avec notre service complet qui enregistre son poids, ses vaccinations, et bien plus encore. Offrez à votre animal une vie saine et épanouissante grâce à notre suivi personnalisé.
                    </p>
                </div>
                <div class="service-col">
                    <h3>Exploration Facile</h3>
                    <p>
                        Explorez votre quartier avec facilité grâce à LoveMyPet. Notre carte interactive affiche les vétérinaires et les parcs à proximité, vous permettant de trouver rapidement les meilleurs soins et les endroits parfaits pour promener votre compagnon. Simplifiez la vie avec LoveMyPet, où chaque coin de rue est une nouvelle aventure pour vous et votre animal.
                    </p>
                </div>
                
            </div>
        </section>

        <!--bas du site, contactez-nous -->
       <section class="footer">
        <h3>Contactez-nous!</h3>
        <div class="social">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="mailto:lovemypet@gmail.com"><i class="fa fa-envelope"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
        <p class="copyright">
            LoveMyPet  @ DevOps
        </p>
       </section>

    </body>
</html>    