<div class="navbar-wrapper">
    <div class="navbar">
        <div class="logo">
            <img src="images/logo.png" style="width: 150px; height: 65px;">

        </div>
        <div class="nav_right">
            <ul><p>Bonjour <span id="userName"></span> !</p>
                <li class="nr_li dd_main">
                    <img src="/images/person1.jpg" alt="profile_img">
                    <div class="dd_menu">
                        <div class="dd_left">
                            <ul>
                                <li><i class="fa-solid fa-user"></i></li>
                                <li><i class="fa-solid fa-paw"></i></li>
                                <li><i class="fas fa-sign-out-alt"></i></li>
                            </ul>
                        </div>
                        <div class="dd_right">
                            <ul>
                                <li>Mon compte</li>
                                <li href="/mesanimaux">Mes animaux</li>
                                <li>Se Déconnecter</li>
                            </ul>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>