<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Adoption</title>
    <link rel="stylesheet" href="css/adoption_afficher_animal.css">
</head>
<body>
<div class="wrapper">
    <div class="container">
        <div class="title">
            <h1>Mes animaux</h1>
        </div>

        <div class="animal">
            <div class="animal-container">
                <!-- Liste des animaux ici -->
            </div>
            <div id="error-message"></div>
        </div>
    </div>
</div>

<script>
    function fetchData(userId) {
        let url = `animal/useranimals?userId=${userId}`;

        fetch(url)
            .then((response) => response.json())
            .then((data) => {
                if (data.length > 0) {
                    displayAnimals(data);
                    document.getElementById("error-message").textContent = "";
                } else {
                    document.getElementById("error-message").innerHTML = "<p class='message-error'>Aucun résultat Vous n'avez aucun animal</p>";
                }
            })
            .catch((error) => {
                console.error("Error fetching data:", error);
            });
    }

    function displayAnimals(animals) {
        if (animals.length > 0) {
            let animalList = ``;

         animals.forEach((animal) => {
            animalList += `
                <div class="animal-item">
                    <div class="animal-img">
                        <img src="/images/animals/${animal.imageUrl}" alt="animal image">
                        <div>
                            <button type="button" onclick="window.location.href = '/animal/id=${animal.id}'" class="add-btn">Suivi de ${animal.name}</button>
                        </div>
                    </div>
                    <div class="animal-content">
                        <a href="/animal/id=${animal.id}" class="animal-title">${animal.name}</a>
                        <p class="race"><span>${animal.race}</span></p>
                        <div>
                            <span class="gender">${animal.gender === 1 ? 'Masculin' : 'Féminin'}</span>
                        </div>
                    </div>
                </div>
            `;
        });


            const animalListDiv = document.querySelector(".animal-container");
            animalListDiv.innerHTML = animalList;
        }
    }

    // Cette fonction sera appelée lorsque la page se chargera
    window.onload = function () {
        // Vous pouvez ajuster l'ID de l'utilisateur ici (par exemple, 1)


        // Exemple de code JavaScript avec une variable userId pour récupérer le profil utilisateur
        const userProfileUrl = "/profile"; // Remplacez cela par l'URL appropriée
        let userId; // Déclaration de la variable userId


      /*
         Code pour afficher Id

        fetch(userProfileUrl)
        .then(response => {
          if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
          }
          return response.json();
        })
        .then(userData => {
          // Assigner la valeur de userData.id à userId
          userId = userData.id;

          // Traitez les données utilisateur ici
          console.log("ID:", userId);
          console.log("Nom:", userData.name);
        })
        .catch(error => {
          console.error("Erreur de récupération du profil utilisateur:", error.message);
        });
        */

       // fetchData(userId);

        fetchData(1);
    };
</script>
</body>
</html>

