<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adoption</title>
    <link rel="stylesheet" href="/css/profile.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>



<style>
    body {
        display: flex;

    }

    .top-right {
        width: 40px;
        height: 40px;
        border: 1px solid #000;
        border-radius: 50%;
        background-color: #000;
        padding: 20px;
        font-weight: bold;
        color: #fff;
        border: 0;
        outline: none;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    /* sitde bar */

    .w3-sidebar {
        position: fixed;
        z-index: 100;
        background-color: #000;
        display: flex;
        flex-direction: column;
        color: #fff;
        width: 250px;
        padding: 20px;
        height: 100vh;
        overflow-y: auto;
    }

    .w3-button {
        color: #fff;
        outline: none;
        outline: none;
        padding: 10px;
        text-decoration: none;
        transition: 0.5s;
    }


    .w3-button:hover {
        background-color: #fff;
        text-decoration: none;
        color: #81774E;
        border-radius: 6px;
    }

    .w3-button:hover a {
        color: #000;
    }

    .logo-img {
        text-align: CENTER;
        margin: 20PX AUTO;
        width: 100PX;
    }

    .side_bar_bar {
        background-color: #81774E;
        border: 0;
        height: 1px;
        width: 100%;
        border-radius: 2px;
        margin: 10px 0;
    }
</style>
</head>

<body>
<!-- Sidebar -->
<div class="w3-sidebar ">
    <img src="images/logo.png" alt="Logo" class="logo-img">
    <a href="/profile" class="w3-button">Mon compte</a>
    <a href="/mesCandidatures" class="w3-button">Mes candidatures</a>
    <hr class="side_bar_bar">
    </hr>
    <a href="/mesanimaux" class="w3-button">Mes animaux</a>

    <a href="/adoption" class="w3-button">Adoption</a>
    <a href="/AddAnimal" class="w3-button">Inscrire un animal</a>

    <hr class="side_bar_bar">
    </hr>
    <a href="/donate" class="w3-button">Donner des objets</a>
    <a href="/showdonations" class="w3-button">Trouver des objets</a>
    <a href="/mesdonations" class="w3-button">Mes objets à donné</a>

    <hr class="side_bar_bar">
    <a href="/Map" class="w3-button">Map</a>

    <hr class="side_bar_bar">
    <a href="/AddEvent" class="w3-button">Ajouter un évenement</a>
    <a href="/ShowEvent" class="w3-button">Participé a un evenement</a>
    <a href="/MyEvent" class="w3-button">Mes évenement crée </a>


    <hr class="side_bar_bar">
    </hr>
    <a href="#" class="w3-button">Se Déconnecter</a>

</div>
<div class="big-container">
    <div class="wrapper">
        <div class="container">
            <h2 class="small-title">Nos Fonctionnalitées</h2>
            <div class="profil">
                <div class="profil-container " id="profilContainer">
                    <div class="profil-item">
                        <div class="profil-img">
                            <img src="/images/service1.png" alt="#" />
                            <div>
                                <button type="button" class="add-btn" onclick="window.location.href = '/adoption'">
                                    Adopter 🧡
                                </button>
                            </div>



                        </div>
                        <div class="profil-content">
                            <a href="/adoption" class="profil-title">ADOPTER</a>
                            <p class="description">Offrez à un compagnon une nouvelle maison pleine d'amour en adoptant l'un de nos amis poilus.</p>
                        </div>
                    </div>

                    <div class="profil-item">
                        <div class="profil-img">
                            <img src="/images/service2.png" alt="#" />
                            <div>
                                <button type="button" class="add-btn" onclick="window.location.href = '/AddAnimal'">
                                    Inscrire mon animal
                                </button>
                            </div>
                        </div>
                        <div class="profil-content">
                            <a href="/AddAnimal" class="profil-title">Inscrire mon animal</a>
                            <p class="description">Restez connecté à chaque étape de la vie de votre compagnon avec nos notifications dédiées.</p>
                        </div>
                    </div>

                    <div class="profil-item">
                        <div class="profil-img">
                            <img src="/images/service3.png" alt="#" />
                            <div>
                                <button type="button" class="add-btn" onclick="window.location.href = '/suivicomplet'">
                                    Suivi complet
                                </button>
                            </div>
                        </div>
                        <div class="profil-content">
                            <a href="/suivicomplet" class="profil-title">SUIVI COMPLET</a>
                            <p class="description">Assurez un suivi complet de la santé de votre compagnon pour une vie épanouissante.</p>
                        </div>
                    </div>

                    <div class="profil-item">
                        <div class="profil-img">
                            <img src="/images/service4.png" alt="#" />
                            <div>
                                <button type="button" class="add-btn" onclick="window.location.href = '/Map'">
                                    Explorer
                                </button>
                            </div>
                        </div>
                        <div class="profil-content">
                            <a href="/Map" class="profil-title">EXPLORATION FACILE</a>
                            <p class="description">Notre carte interactive vous guide vers les vétérinaires et parcs<br> locaux.</p>
                        </div>
                    </div>




                    <div class="profil-item">
                        <div class="profil-img">
                            <img src="/images/partager.png" alt="#" />
                            <div>
                                <button type="button" class="add-btn" onclick="window.location.href = '/AddEvent'">
                                    Partager un Evenement
                                </button>
                            </div>
                        </div>
                        <div class="profil-content">
                            <a href="/AddEvent" class="profil-title">Partager UN EVENEMENT</a>
                            <p class="description"> Où les passionnés se rassemblent pour célébrer nos amis à poils,écailles.</p>
                        </div>
                    </div>

                    <div class="profil-item">
                        <div class="profil-img">
                            <img src="/images/participer.png" alt="#" />
                            <div>
                                <button type="button" class="add-btn" onclick="window.location.href = '/ShowEvent'">
                                    Participé a un  evenement
                                </button>
                            </div>
                        </div>
                        <div class="profil-content">
                            <a href="/ShowEvent" class="profil-title">Participé a un  evenement</a>
                            <p class="description">Célébrons ensemble notre passion lors d'un rassemblement inoubliable!.</p>
                        </div>
                    </div>

                    <div class="profil-item">
                        <div class="profil-img">
                            <img src="/images/discussion.png" alt="#" />
                            <div>
                                <button type="button" class="add-btn" onclick="window.location.href = '/showdonations'">
                                    Recevoir des objets
                                </button>
                            </div>
                        </div>
                        <div class="profil-content">
                            <a href="/showdonations" class="profil-title">Recevoir des objets</a>
                            <p class="description">recevez des objets pour le bien-être de vos compagnons.</p>
                        </div>
                    </div>

                    <div class="profil-item">
                        <div class="profil-img">
                            <img src="/images/toys.png" alt="#" />
                            <div>
                                <button type="button" class="add-btn" onclick="window.location.href = '/donate'">
                                    Donner un object
                                </button>
                            </div>
                        </div>
                        <div class="profil-content">
                            <a href="/donate" class="profil-title">Donner / Recevoir des objets</a>
                            <p class="description">Donnez et recevez des objets pour le bien-être de vos compagnons.</p>
                        </div>
                    </div>


                    <div class="profil-item">
                        <div class="profil-img">
                            <img src="/images/vaccination.png" alt="#" />
                            <div>
                                <button type="button" class="add-btn" onclick="window.location.href = '/AddVaccination_Medicament'">
                                     Vaccination / Médicament
                                </button>
                            </div>
                        </div>
                        <div class="profil-content">
                            <a href="/AddVaccination_Medicament" class="profil-title">Ajouter Vaccin/Medicament </a>
                            <p class="description">Ajouter un vaccin ou un medicament et recevoir des alertes.</p>
                        </div>
                    </div>

                    <div id="error-message"></div>
                </div>
            </div>
        </div>

    </div>	

</div>


</body>

</html>