<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoveMyPet Publications</title>
</head>

<body>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            list-style: none;
            font-family: 'Jost', sans-serif;

        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 70px;
            background-color: #FEF4F4;
        }

        p {
            font-size: 20px;
            margin: 10px 0;
        }

        img {
            width: 700px;
            height: 250px;
            border-radius: 20px;
            margin-bottom: 20px;
            object-fit: cover;
            box-shadow: 10px 0 5px rgba(0, 0, 0, 0.1);
            transition: 1s;
            border: 0px solid #f2a80b;
        }

        img:hover {
            height: 500px;
            border: 2px solid #f2a80b;
        }
        .nom {
            font-weight: bold;
        }
        .publication {
            margin: 20px 0;
            border-top: 1px solid #ccc;
            display: flex;
            flex-direction: column;
        }

        h2 {
            text-align: center;
            margin-bottom: 10px;
            font-size: 50px;

        }

        strong {
            color: #f2a80b;
            font-style: italic;
        }

        button {
            width: 100%;
            background-color: transparent;
            border: 2px solid #f2a80b;
            color: #f2a80b;
            font-family: inherit;
            font-size: 0.9rem;
            padding: 10px 20px;
            cursor: pointer;
            text-transform: uppercase;
            margin-bottom: 5px;
            outline: none;
            width: fit-content;
            border-radius: 6px;
            font-size: 14px;

        }

        button:hover {
            background-color: #f2a80b;
            color: #fff;
        }
    </style>
    <div id="publications">
        <h2>Conseils</h2>
        <button class="" onclick="window.location.href = '/mesanimaux'">Mes animaux 🦮</button>

    </div>

    <!-- Inclusion de jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
        crossorigin="anonymous"></script>
    <script>

        let existingAdviceIds = new Set(JSON.parse(localStorage.getItem("existingAdviceIds")) || []);
        window.onload = function () {
            // Récupérer les IDs des conseils déjà présents depuis le stockage local

            // Supprimer les valeurs stockées dans le stockage local avant de récupérer les nouvelles publications
            console.log(existingAdviceIds);
            localStorage.removeItem("existingAdviceIds");


            setInterval(refreshLikeDislikeCounts, 5000);

            // Fonction pour récupérer les publications
            function fetchPublications() {
                fetch("/api/advices")
                    .then(response => response.json())
                    .then(data => {
                        // Pour chaque conseil dans la liste, effectuez une autre requête Fetch pour récupérer les détails
                        data.forEach(advice => {
                            // Extraire l'ID numérique du conseil
                            const adviceId = parseInt(advice.replace("advice/", ""), 10);

                            // Vérifiez si l'ID du conseil est déjà dans l'ensemble
                            if (!existingAdviceIds.has(adviceId)) {
                                console.log(adviceId);
                                console.log(`api/advices/${adviceId}`);
                                fetch(`api/advices/advice/${adviceId}`)
                                    .then(response => response.json())
                                    .then(adviceDetails => {
                                        // Utilisez les données pour créer un élément HTML représentant le conseil
                                        const publicationElement = createPublicationElement(adviceDetails);
                                        // Ajoutez cet élément à la liste des publications
                                        document.getElementById("publications").appendChild(publicationElement);
                                        // Ajoutez l'ID du conseil à l'ensemble et mettez à jour le stockage local
                                        existingAdviceIds.add(adviceId);
                                        localStorage.setItem("existingAdviceIds", JSON.stringify(Array.from(existingAdviceIds)));
                                    });
                            }
                        });
                    })
                    .catch(error => console.error("Error fetching advice:", error));
            }
            //afficher les publication quand la page est actualisée manuellement
            fetchPublications()
            // Appeler fetchPublications toutes les 5 secondes (ajustez selon vos besoins)
            setInterval(fetchPublications, 5000);

            // Gestionnaire d'événements beforeunload pour effacer les valeurs stockées lors de la fermeture de la page
            window.addEventListener("beforeunload", function () {
                localStorage.removeItem("existingAdviceIds");
            });

            function createPublicationElement(adviceDetails) {
                // Crée un élément HTML représentant le conseil
                const publicationElement = document.createElement("div");
                publicationElement.className = "publication";

                // Ajoute le contenu HTML avec les détails du conseil
                let contentHtml = '';

                // Ajoute l'auteur s'il est disponible
                if (adviceDetails.authorName) {
                    contentHtml += `<p><strong> ${adviceDetails.authorName}</strong></p>`;
                }

                // Ajoute le texte s'il est disponible
                if (adviceDetails.textAdvice) {
                    contentHtml += `<p> ${adviceDetails.textAdvice}</p>`;
                }

                // Ajoute l'URL de l'image s'il est disponible
                if (adviceDetails.imageUrl) {
                    contentHtml += `<img src="images/advices/${adviceDetails.imageUrl}" alt="Advice Image" >`;
                }

                // Ajoute le bouton Likes s'il y a un nombre de likes
                if (adviceDetails.likeCount !== null) {
                    contentHtml += `<button class="like-button${adviceDetails.adviceId}" onclick="sendLikeOrDislike(true, ${adviceDetails.adviceId})">liker 😊 ${adviceDetails.likeCount}</button>`;
                }

                // Ajoute le bouton Dislikes s'il y a un nombre de dislikes
                if (adviceDetails.dislikeCount !== null) {
                    contentHtml += `<button class="dislike-button${adviceDetails.adviceId}" onclick="sendLikeOrDislike(false, ${adviceDetails.adviceId})">disliker 😡 ${adviceDetails.dislikeCount}</button>`;
                }

                // Ajoute l'ID masqué s'il est disponible
                if (adviceDetails.adviceId !== null) {
                    contentHtml += `<input type="hidden" name="adviceId" value="${adviceDetails.adviceId}">`;
                }
                if (adviceDetails.adviceId !== null) {
                    contentHtml += `<input type="hidden" name="adviceId" value="${adviceDetails.adviceId}">`;
                }

                contentHtml += `<textarea id="commentInput${adviceDetails.adviceId}" placeholder="Ajouter un commentaire"></textarea>`;

                contentHtml += `<button onclick="submitCommentHandler(${adviceDetails.adviceId})">Ajouter un commentaire</button>`;

                // Section des commentaires
                contentHtml += `<div class="comments-section${adviceDetails.adviceId}">`;

                if (adviceDetails.comments) {
                    // Afficher les commentaires
                    adviceDetails.comments.forEach(comment => {
                        contentHtml += `<p class="nom"><strong>${comment.commenter.firstName} ${comment.commenter.lastName}:</strong> ${comment.text}</p>`;

                    });
                }
                contentHtml += '</div>';



                publicationElement.innerHTML = contentHtml;

                return publicationElement;
            }
        };

        function submitCommentHandler(adviceId) {
            const userId = 1;  // Remplacez 1 par l'ID de la personne connectée

            const commentText = document.getElementById(`commentInput${adviceId}`).value;
            const tmp = commentText;
            console.log("Valeur du champ de texte :", commentText);
            // Appel de la fonction submitComment avec l'ID du conseil, le texte du commentaire et l'ID de la personne connectée
            submitComment(adviceId, tmp, userId);
        }


        // Fonction pour envoyer le commentaire au serveur
        function submitComment(adviceId, commentText, userId) {
            // Vérifiez si le champ de texte n'est pas vide avant d'envoyer le commentaire
            if (commentText !== "") {
                // Envoyez la requête Fetch pour ajouter le commentaire
                fetch(`/api/advices/addComment/${adviceId}?idPerson=${userId}`, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: commentText // Envoyez directement le texte du commentaire
                })
                    .then(response => response.text())
                    .then(data => {
                        // Réponse de l'API (si nécessaire)
                        console.log(data);

                        // Mettez à jour la liste des commentaires (si vous souhaitez afficher les commentaires en temps réel)
                        fetch(`/api/advices/advice/${adviceId}`)
                            .then(response => response.json())
                            .then(adviceDetails => {
                                updateCommentsSection(adviceDetails);
                            })
                            .catch(error => console.error("Error fetching advice details:", error));

                        // Effacez le champ de texte après avoir soumis le commentaire
                        document.getElementById(`commentInput${adviceId}`).value = "";
                    })
                    .catch(error => {
                        console.error("Error submitting comment:", error);
                    });
            } else {
                alert("Veuillez entrer un commentaire avant de soumettre.");
            }
        }

        function updateCommentsSection(adviceDetails) {
            // Sélectionnez l'élément div des commentaires
            const commentsSection = document.querySelector(`.comments-section${adviceDetails.adviceId}`);

            // Vérifiez si la section des commentaires existe déjà
            if (commentsSection) {
                // Effacez le contenu actuel de la section des commentaires
                commentsSection.innerHTML = "";

                // Ajoutez chaque commentaire à la section des commentaires
                adviceDetails.comments.forEach(comment => {
                    const commentElement = document.createElement("p");
                    commentElement.innerHTML = `${comment.text}`;
                    commentsSection.appendChild(commentElement);
                });
            }
            location.reload();

        }

    </script>


    <script>

        function sendLikeOrDislike(isLike, adviceId) {
            const apiUrl = isLike ? "/api/like-dislike/like" : "/api/like-dislike/dislike";
            console.log(apiUrl);

            $.ajax({
                url: "/person/profile",
                type: "GET",
                success: function (userData) {
                    console.log("Il est connecté", userData.id);

                    fetch(apiUrl, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({
                            advice_id: adviceId,
                            person_id: userData.id
                        })
                    })
                        .then(response => response.text())
                        .then(data => {

                            // Réponse de l'API (si nécessaire)
                            console.log(data);
                            // Mettez à jour le nombre de likes/dislikes sur le bouton correspondant
                            updateLikeDislikeCount(adviceId);
                        })
                        .catch(error => {
                            console.error("Erreur lors de la requête Fetch:", error);
                        });
                },
                error: function (xhr, status, error) {
                    // Gérer les erreurs
                    console.error("Error fetching person ID:", error);
                    alert("Vous n'êtes pas connecté(e). Veuillez vous connecter pour effectuer cette action.");
                }
            });
        }

        function updateLikeDislikeCount(adviceId) {
            // Sélectionnez le bouton approprié
            const likeButtonSelector = `.like-button${adviceId}`;
            const dislikeButtonSelector = `.dislike-button${adviceId}`;

            const likeButton = document.querySelector(likeButtonSelector);
            const dislikeButton = document.querySelector(dislikeButtonSelector);


            // Mettez à jour les counts en appelant l'API pour obtenir les dernières valeurs
            fetch(`/api/advices/advice/${adviceId}`)
                .then(response => response.json())
                .then(adviceDetails => {
                    // Mise à jour avec les dernières valeurs de l'API
                    likeButton.innerHTML = `liker 😊 ${adviceDetails.likeCount}`;
                    dislikeButton.innerHTML = `disliker 😡 ${adviceDetails.dislikeCount}`;
                })
                .catch(error => console.error("Error fetching advice details:", error));
        }



        //mise a jours des like et dislike des autre publication chaque 5 secondes 

        function refreshLikeDislikeCounts() {
            // Parcourez les IDs existants
            existingAdviceIds.forEach(adviceId => {
                // Appelez l'API pour obtenir les dernières valeurs des counts
                console.log(`lien api => /api/advices/advice/${adviceId}`)
                fetch(`/api/advices/advice/${adviceId}`)
                    .then(response => response.json())
                    .then(adviceDetails => {
                        // Mettez à jour les counts avec les dernières valeurs de l'API
                        updateLikeDislikeCount(adviceId);
                    })
                    .catch(error => console.error("Error refreshing advice details:", error));
            });
        }

        // Appelez la fonction de rafraîchissement toutes les 5 secondes


    </script>


</body>

</html>